@model MeuProjeto.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Criar novo usuário</h1>

<h4>Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Perfil" class="control-label"></label>
                <select asp-for="Perfil" asp-items="Html.GetEnumSelectList<MeuProjeto.Models.Perfil>()" class="form-control"></select>
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group d-flex gap-2">
                <a asp-action="Index" class="btn btn-info text-white">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>